<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<!-- <h1>Codeial / <%= title %></h1> -->

<div id="home-container">
    <section id="feed-posts">
        <h2>Posts</h2>
        <% if(locals.user){ %>
            <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here..."></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %>
    
        <div id="posts-list-container">
            <ul>
                <% for(let post of posts){ %>
                    
                    <%- include('_post', {post : post}); %>
    
                <% } %>
            </ul>
        </div>
    </section>
    
    <section id="users-friends-container">
        <div id="friends">
            <h2>Friends</h2>
            <% if(locals.user){ %>
                 <% for(let friendship of signedInUser.friendships){ %>
                    <% if(locals.user.name == friendship.from_user.name){ %>
                        <p id="friend-<%= friendship.to_user._id %>">
                            <a href="/users/profile/<%= friendship.to_user.id %>"><%= friendship.to_user.name %></a>
                            <a class="remove-friend-button" data-friend-id="friend-<%= friendship.to_user._id %>" href="/users/friendships/destroy?id=<%= friendship.to_user._id %>">X</a>
                        </p> 
                    <% }else if(locals.user.name == friendship.to_user.name){ %>
                        <p id="friend-<%= friendship.from_user._id %>">
                            <a href="/users/profile/<%= friendship.from_user.id %>"><%= friendship.from_user.name %></a>
                            <a class="remove-friend-button" data-friend-id="friend-<%= friendship.from_user._id %>" href="/users/friendships/destroy?id=<%= friendship.from_user._id %>">X</a>
                        </p>    
                    <% } %>    
                <% } %>
            <% }else{ %>
                <h3>Sign in to view this info</h3>    
            <% } %>
        </div>
        <div id="users">
            <h2>Users</h2>
            <% for(let u of all_users){ %>
                <p>
                    <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                </p>    
            <% } %>
        </div>
    </section>

    <%- include('_chatbox'); -%>

</div>

<script src="<%= assetPath('js/home_posts.js') %>"></script>
<script src="<%= assetPath('js/home_comments.js') %>"></script>
<script src="<%= assetPath('js/home_likes.js') %>"></script>
<script src="<%= assetPath('js/home_friends.js') %>"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>

<% if(locals.user){ %>
    <!-- initializing the class -->
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>');
    </script>    
<% } %>