<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <!-- after noty beacuse noty doesn't require jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">

        <script src="https://kit.fontawesome.com/0f031655d5.js" crossorigin="anonymous"></script>

        <%- style %>
    </head>
    <body>
        
        <%- include('_header'); -%>

        <main id="layout-main">
            <%- body %>
        </main>

        <%- include('_footer'); -%>
        
        <%- script %>

        <!-- Noty displayed without using ajax -->
        <!-- <script>
            <% if(flash.success && flash.success.length>0){ %>
                new Noty({
                    theme : 'relax',
                    layout : 'topRight',
                    text : "<%= flash.success %>",
                    type : 'success',
                    timeout : 1500
                }).show();    
            <% } %>

            <% if(flash.error && flash.error.length>0){ %>
                new Noty({
                    theme : 'relax',
                    layout : 'topRight',
                    text : "<%= flash.error %>",
                    type : 'error',
                    timeout : 1500
                }).show();    
            <% } %>
        </script> -->

    </body>
</html>