<link rel="stylesheet" href="/css/user_profile.css">
<h1>Codeial / <%= title %></h1>

<img src="<%= user_profile.avatar %>" alt="<%= user_profile.name %>" width="100">

<% if(locals.user.id == user_profile.id){ %>
        <!-- if user matches show the form -->
        <form action="/users/update/<%= user_profile.id %>" method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Your Name" value="<%= user_profile.name %>" required>
            <input type="email" name="email" placeholder="Your Email" value="<%= user_profile.email %>" required>

            <input type="file" name="avatar" placeholder="Profile Picture">

            <input type="submit" value="Update">
        </form>


<% } else{ %>
        <!-- else show only the profile info -->
        <p>Name: <%= user_profile.name %></p>
        <p>Email: <%= user_profile.email %></p>
        <% if(areFriends){ %>
                <a id="toggle-friend-button" data-user-id="<%= user_profile._id %>" href="/users/friendships/destroy/?id=<%= user_profile._id %>">Remove Friend</a>
        <% }else{ %>
                <a id="toggle-friend-button" data-user-id="<%= user_profile._id %>" href="/users/friendships/create/?id=<%= user_profile._id %>">Add Friend</a>        
        <% } %>

        <!-- data-user-id created so it can used when u change the links' href from remove friend to add friend or vice versa from the javascript -->
<% } %>

<script src="/js/user_profile.js"></script>